* {
    padding: 0;
    margin: 0;
}

.container-login {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/fondos/login-fondo.jpg");
    background-size: cover;
}

form label {
    font-weight: bold;
    color: white;
}

.panel {
    max-width: 500px;
    margin: auto;
}

.error{
    box-sizing: content-box;
    border: 5px solid #CB4335;
    background-color: #F1948A ;
    text-align: center;
    border-radius: 10px;
}

.form-group{
    padding-bottom: 3vh;
}